.pricingBody {
  height: 90vh;
  padding-top: 10vh;
}

body {
  background-color: #fbf7ff;
  height: 100vh;
  background-image: url(../bg-bottom.svg), url(../bg-top.svg);
  background-position: left bottom, right top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 600px) {
  body {
    background-image: url(../bg-top.svg);
    background-position: right top;
  }
}

.title-text {
  font-weight: 900;
  color: #44485b;
}

h1 {
  color: #44485b;
}

.price {
  color: #44485b;
  font-weight: 700;
  font-size: 4em;
  margin-bottom: 4px;
}

.card-text > p {
  padding: 8px;
  margin: 0px;
  font-weight: 700;
  color: #8b8d99;
}

hr {
  border: 0.5px solid rgb(207, 207, 207);
  width: 90%;
}

.taller {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ant-card-head-wrapper {
  padding: 50px;
}

.ant-btn {
  width: 90%;
  background: rgb(154, 157, 227);
  background: linear-gradient(
    90deg,
    rgba(154, 157, 227, 1) 0%,
    rgba(130, 133, 227, 1) 39%,
    rgba(106, 110, 224, 1) 100%
  );
  letter-spacing: 1px;
  font-family: "Montserrat-Bold";
}
